{% extends 'base.html' %} 
{% load static %}
{% block headcontent %}
<link rel="stylesheet" type="text/css" href = "{% static 'blog/style.css' %}">
{% endblock headcontent %}
{% block content %}

<div class="container">
    <br/><h2 class="title"><u>Tables</u></h2>
    <div class="row">
        <div class="col-md-12 mt-3">
            {% for i in table_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <a href = "{% url 'table_detail' i.slug %}"><h2 class="card-title title">{{ i.name }}</h2></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}